@import "../../assets/sass/globals";



.reset-submit-container {
  background-color: $black;
  @include flex;
  min-height: 100%;
  .reset-submit-box {
    width: 320px;
    max-width: 95%;
    @include flex(column);
    color: $white;
  }
  .separator {
    @include lineSeparator;
  }
  .inputs {
    width: 100%;
    @include flex(column);
    input {
      @include inputField;
    }
  }
  .reset-submit-btn {
    @include submitBtn;
    width: 100%;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .after-box-notice {
    @include afterBoxNotice;
  }
  .go-home-btn {
    @include roundedBtn($green, $darkGreen);
    margin-top: 40px;
  }
}