@import "../../assets/sass/globals";


.footer {
  width: 100%;
  @include flex;
  padding-top: 60px;
  background-color: #2d3436;
  p {
    margin-bottom: 20px;
    color: $white;
  }

  span {
    color: $lightRed;
    font-size: 20px;
    margin: 0 5px;
  }
  a {
    margin-left: 10px;
  }
}