@import "../../assets/sass/globals";



.login-container {
  background-color: $black;
  @include flex;
  min-height: 100%;
  .login-box {
    width: 320px;
    max-width: 95%;
    @include flex(column);
    color: $white;
  }
  .separator {
    @include lineSeparator;
  }
  .inputs {
    width: 100%;
    @include flex(column);
    input {
      @include inputField;
    }
  }
  .login-btn {
    @include submitBtn;
    width: 100%;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .after-box-notice {
    @include afterBoxNotice;
  }
}